@CHARSET "UTF-8";
.body_right_box{
	width:990px;
	float:right;
}

/* 添加宝贝css设置 */
.baby_title{
	width:988px;
	height: 45px;
	line-height:45px;
	text-indent:30px;
	background: #fafafa;
	border: 1px dashed #e0e0e0;
	color: #5a99dc;
}
.baby_table{
	width: 500px;
	margin:0px auto;
	color:#000000;
}
.baby_table tr{
	height: 30px;
	width: 500px;
}
.baby_btn{
	width: 75px;
	height: 30px;
	border-radius:5px;
	background: #0085d7;
	margin: 20px 0px;
	border: none;
}
.baby_input{
	width:160px;
	height:27px;	
}

.baby_select{
	width:160px;
	height:27px;
	vertical-align: top;
}

/* 仓库列表css样式 */
.condition_box{
	background: #f9f9f9;
	width:988px;
	height: 40px;
	line-height:40px;
	font-size:15px;
	margin-top:15px;
}
.baby_btn_small{
	width: 40px;
	height: 30px;
	border-radius:5px;
	background: #0085d7;
	border: none;
}
.baby_input_small{
	width:80px;
	height:27px;	
}
.baby_select_small{
	width:160px;
	height:27px;
}

.product_box{
	background: #f9f9f9;
	width: 988px;
	height:145px;
	margin: 4px 0px;
	position: relative;
}
.product_box img{
	width: 135px;
	height: 135px;
	margin-top: 5px;
}
.item_name{
	position: absolute;
	top: 10px;
	left: 160px;
	color: #0085d7;
	font-size: 18px;
	font-weight: 700;
}
.item_font{
	font-size: 16px;
	font-weight: 600;
}
.item_type{
	position:absolute;
	left:160px;
	top:40px;
}
.item_price{
	position:absolute;
	left:160px;
	top:73px;
}
.item_dateOnSale{
	position:absolute;
	left:160px;
	top:105px;
}
.btn_edit_product{
	background: #bfdce4;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: 90px;
	left:690px;
	padding: 5px 10px;
}
.btn_product{
	background: #e60012;
	font-size: 18px;
	font-weight: 700;
	color:#ffffff;
	position: absolute;
	top: 90px;
	left:855px;
	padding: 5px 10px;
}
















