@CHARSET "UTF-8";
.first_banner{
	height: 115px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #f2968e;
	background: #ffffff;
	position: relative;
	top: 35px;
}
.first_banner_content{
	width: 1190px;
	height: 115px;
	margin: 0px auto;
	line-height:113px;
	font-size:12px;
}
.first_banner_content img{
	position: relative;
	top: 30px;
}
.banner_right{
	float: right;
	margin-right: 50px;
	height: 113px;
	line-height:113px;
}
.banner_input{
	border: 3px solid #f03726;
	width: 640px;
	height:40px;			/* height设置的高包括上下border */	
	outline: none;
	margin-top: 
}
.banner_btn{
	background: #f03726;
	color:#ffffff;
	font-size:16px;
	width: 85px;
	height: 40px;
	outline: none;
	border: none;
	position:relative;		/* 可以用margin来移动组件，也可以用定位移动 */
	left:-4px;
	top:2px;
}
.body_content{
	width: 1190px;
	margin: 0px auto;
	font-size:12px;
	position:relative;
	top:35px;
	height:300px;
}

.select_condition{
	height: 60px;
	line-height: 60px;
	text-indent: 20px;
}
.input_condition_box{
	position: relative;
	background: #ffffff;
	height: 38px;
	width: 1190px;
	border:1px solid #eaeaea;
}
.total_order{
	width: 90px;
	background: #f5f5f5;
	border-right: 1px solid #eaeaea;
	line-height: 38px;
	text-align: center;
	float: left;
}
.input_condition{
	width: 70px;
	border-right: 1px solid #eaeaea;
	line-height: 38px;
	text-align: center;
	float: left;
	position: relative;
}
.small_input{
	border: 1px solid #eaeaea;
	width: 48px;
	height: 24px;
	outline: none;
}
.location_condition{
	display:inline-block;
	height:24px;
	width:36px;
	border:1px solid #eaeaea;
	border-right: none;
	margin-top: 7px;	
	line-height: 24px;
}
.location_btn{
	display:inline-block;
	width: 22px;
	height: 24px;
	border:1px solid #eaeaea;
	background: #f7f5f5;
	position:relative;
	top:-5px;
	left: -4px;
}
.location_btn img{
	position: relative;
	top:5px;
}
.input_condition_right{
	width: 338px;
	height:38px;
	line-height:38px;
	float: right;
	border-left: 1px solid #eaeaea;
}
.multi_location_btn{
	display: inline-block;
	float: right;
	background: #fafafa;
	width: 36px;
	height: 38px;
}
.multi_location_btn img{
	position: relative;
	top: 13px;
	left: 13px;
}
.product_box{
	/* width: 1190px; */
	width:1210px;
	margin: 0px auto;
	font-size:12px;
	position:relative;
}
.item_product_box{
	width: 226px;
	height: 326px;
	border: 1px solid #cacaca;
	margin:13px 13px 0px 0px;
	float: left;
}
.item_product_box img{
	width: 226px;
	height: 225px;
}
.product_title{
	width: 205px;
	height: 60px;
	line-height: 60px;
	padding: 0px 10px;
}
.product_title a{
	text-decoration: none;
	color: black;
}
.product_info{
	width: 205px;
	height: 40px;
	line-height: 40px;
	padding: 0px 10px;
}
.product_price{
	color: red;
	font-size: 20px;
	font-weight: bolder;
}
.product_location{
	float: right;
	color: #b0b0c5;
}
